table{
	width: 25vw;
	border-collapse: collapse;
}

.table td{
	text-align: center;
	min-width: fit-content;
	width: 25%;
}

.table th{
	padding: 5px;
	border: 2px solid var(--border-dark);
}

.table th:hover {
	background-color: var(--hover-light);
	cursor: pointer;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
}

tbody tr:hover {
  background-color: var(--hover-light);
}


